[*.{kt,kts}]
ktlint_function_naming_ignore_when_annotated_with=Composable
insert_final_newline = true
max_line_length = 140
ktlint_standard_multiline-expression-wrapping = disabled

[**/generated/**/*]
ktlint = disabled