<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531594107644-qtv728a1kmlpev4h94sfi6rfcth99i00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531594107644-qtv728a1kmlpev4h94sfi6rfcth99i00</string>
	<key>API_KEY</key>
	<string>AIzaSyDKo7NXZ6nRSAud0gfsBOmgai3Yqmgg2tI</string>
	<key>GCM_SENDER_ID</key>
	<string>531594107644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myfinance.app</string>
	<key>PROJECT_ID</key>
	<string>myfinances-4f94f</string>
	<key>STORAGE_BUCKET</key>
	<string>myfinances-4f94f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531594107644:ios:9f89ee9823ca2191755579</string>
</dict>
</plist>